
body  {
  font-family: "Montserrat";
  color: #6c757d;
}
h1,h2,h3,h4,h5,h6  {
  font-family: "Montserrat";
}
h1  {
  font-weight: 900;
  line-height: 1.5;
  color: white;
}

h2   {
    line-height:1.5;
}

h3  {
  font-weight:bold;
  font-size: 1.5rem;
  color:#000;
}

h4   {
  font-style: normal;
  font-weight: bold;
}

/* Title */
#title  {
  background-color: #ff4c68;
  color: #fff;
}
.container-fluid  {
padding: 3% 15%;
}
/* Media Query */
@media (max-width:900px)
{
  h1   {
    font-size: 2rem;
  }
  .title-txt  {
    text-align: center;
  }
  .title-img  {
    height: 10rem;
  }
  .Title-Image {
    width:150px;
  }
  .h2   {
    font-size: 1 rem;
  }
  .cta-h2  {
    font-size: 1rem;
  }
}
@media (min-width:900px) {
  h1   {
    font-size: 3.5rem;
  }
  .title-img  {
    height: 20rem;
  }
  .Title-Image {
    width:300px;
  }
  h2   {
    font-size: 3rem;
  }
  .cta-h2  {
    font-size: 3rem;
  }

}


/* Navigatin Bar */
.navbar {
  padding-bottom: 4.5rem;
  padding-left: 0px;
}
.navbar-brand  {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item  {
  padding: 0px 18px;
}
.nav-link  {
  font-size: 1rem;
  font-weight: lighter;
}





/* Download Buttons */
.Download-Button  {
  margin: 5% 3%;
  margin-bottom:0%;
}



/* Title-Image */
.title-img{
  align-items: center;
  text-align: center;
  position:static;
}
.Title-Image  {
  transform: rotate(30deg);
  position: static;
}

/* Features */
#features  {
  position:relative;
  padding-top: 6rem;
  background-color: #fff;
  z-index: 2;
}
.feature-col  {
  text-align: center;
}
.feature-icon  {
  color:#ef8172;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.feature-icon:hover  {
  color:#ff4c68;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.Feature-txt  {
  color:#8f8f8f;
  margin-bottom: 6rem;
}





/* Testimonials */
#testimonials{
  text-align: center;
  background-color:#ffb4ac;
  color:#fff;
}

.Testimonial-Image  {
  border-radius: 100%;
  width: 10%;
  margin: 1rem;
}
.carousel-item  {
  padding: 7% 15%;
  padding-bottom: 1.5rem;
}
.list-button  {
  padding: 7% 0%;
}

/* Press */

#press  {
  text-align: center;
  background-color:#ffb4ac;
}
.press-container  {
  padding: 2% 15%;
}
.press-image  {
  width: 80%;
  margin-bottom: 1.5rem;
}

/* Pricing */
.card-deck  {
  padding: 3% 5%;
}
.pricing-card-title {
  color: #000;
    font-size: 2.5rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-bottom: .75rem;
    font-weight: 500;
    line-height: 1.2;
}
.text-muted {
    color: #6c757d;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 80%;
    font-weight: 400;
}


/* CTA */
#cta  {
  background-color: #ff4c68;
  padding: 3% 7%;
  text-align: center;
}
.cta-h2  {
  font-family: "Montserrat";
  font-weight: 900;
  color:#fff;
  line-height: 1.5;
}


/* Footer */
#footer  {
  text-align: center;
  font-size:.75rem;
  padding-top:3rem;
}
.footer-icon  {
  padding-left: 1%;
}
